<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Savvy Bharath | We Frame Your Future</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

    <!-- Social Media Icons -->
    <link rel="stylesheet" href="css/pe-icon-social/css/pe-icon-social.css">

    <link rel="stylesheet" href="css/pe-icon-social/css/helper.css">
    <link rel="stylesheet" href="css/pe-icon-social/css/social-style.css">
    <!-- Custom CSS -->
    <link href="css/scrolling-nav.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/application.css">
</head>

<body ng-controller="mailingController">
	
    <form action="utils/mailServer.php" method="POST">
      <div class="form-all">
        <div class="form-header-group">
          <h2 id="header_3" class="form-header">
              Clue Us What You Are?
            </h2>          
        </div>
        <div class="form-line">
          <label class="form-label form-label-left" id="label_4" for="input_4">
          Full Name
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_4">
          <input type="text" class="form-textbox" name="name" size="30" ng-model="name" value="" placeholder="Name" required>
        </div>

      </div>
      <div class="form-line">
          <label class="form-label form-label-left" id="label_4" for="input_4" required>
          Email
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_4">
          <input type="email" class="form-textbox" size="30" name="email_From" ng-model="email_from" placeholder="Ex:savvybharath@gmail.com" required>
        </div>

      </div>
      <div class="form-line">
          <label class="form-label form-label-left" id="label_4" for="input_4">
          Phone Number
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_4">
          <input type="text" class="form-textbox phnMask" name="contact_number" ng-model="contactNumber" placeholder="Phone Number" required>
        </div>

      </div>
      <div class="form-line">
          <label class="form-label form-label-left" id="label_4" for="input_4">
          Date of Birth
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_4">
          <input type="text" class="form-textbox" id="date" name="dob" ng-model="dob" placeholder="dd/mm/yyyy" value="" required>
        </div>

      </div>
      <div class="form-line">
          <label class="form-label form-label-left" id="label_4" for="input_4">
          Desired Job Role
        </label>
        <div id="cid_4">
          <input type="text" class="form-textbox" name="job_role" ng-model="job_role" size="30" value="" placeholder="ex: Java Developer">
        </div>

      </div>
      <div class="form-line">
          <label class="form-label form-label-left" id="label_4" for="input_4">
          Desired Job Category
        </label>
        <div id="cid_4">
          <input type="text" class="form-textbox" ng-model="job_category" id="input_5" name="job_category" size="30" value="" placeholder="ex: Java Developer">
        </div>

      </div>
      <div class="form-line">
          <label class="form-label form-label-left" id="label_4" for="input_4">
          Desired Industry
        </label>
        <div id="cid_4">
          <input type="text" class="form-textbox" id="input_5" ng-model="industry" name="industry" size="30" value="" placeholder="ex: Java Developer">
        </div>

      </div>
      <div class="form-line">
          <label class="form-label form-label-left" id="label_4" for="input_4">
          Location
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_4">
          <input type="text" class="form-textbox" name="location" ng-model="location" size="30" value="" placeholder="ex: Hyderabad" required>
        </div>
      </div>
      <button type="reset" class="button buttonBlue loginButton submitButton" ng-click="submitLogin()">Reset
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
      </button>
      <button type="submit" name="submit" class="button buttonBlue loginButton" ng-click="sendMail()">Submit
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
      </button>
      </div>
    </form>
<footer class="footer">
    <div class="footer-bottom-most">
    <div class="container clearfix">
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div class="region region-footer-one">
                <section id="block-menu-menu-footer-one" class="block block-menu clearfix">

                    <ul class="menu nav">
                        <li class="first leaf"><span class="block-title nolink" style="color:#fff; font-size:16px;">Our Location:</span></li><br><br>
                        <li class="first leaf"><span class="block-title nolink">99 Vista Montana,<br> Apt# 4-4228, <br>San Jose,CA, 95143</span>
                        
                        </li>
                    </ul>
                </section> <!-- /.block -->
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div class="region region-footer-two">
                <!-- <section id="block-menu-menu-footer-three" class="block block-menu clearfix">   
                    <ul class="menu nav">
                        <li class="first leaf"><span class="block-title nolink">Resources</span></li>
                        <li class="leaf"><a href="/about" id="ftr-abt">About ProgrammableWeb</a></li>
                        <li class="leaf"><a href="https://advertising.programmableweb.com">Advertise</a></li>
                        <li class="leaf"><a href="/faq" id="ftr-faq">FAQ</a></li>
                        <li class="leaf"><a href="/write-for-us" id="ftr-write">Write for Us</a></li>
                        <li class="last leaf"><a href="/contact-us" id="ftr-contact">Contact Us</a></li>
                    </ul>
                </section> -->
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <!-- <div class="region region-footer-three">
                <section id="block-menu-menu-footer-four" class="block block-menu clearfix">
                    <ul class="menu nav">
                        <li class="first leaf"><span class="block-title nolink">Business &amp; Legal</span></li>
                        <li class="leaf"><a href="/terms" id="ftr-terms">Site Terms of Service</a></li>
                        <li class="last leaf"><a href="/privacy" id="ftr-privacy">Privacy Policy</a></li>
                    </ul>
                </section>  /.block 
            </div> -->
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="padding-top:35px;">
        <!--     <div class="region region-footer-four">
                <section id="block-menu-menu-footer-two" class="block block-menu clearfix">
                    <ul class="menu nav">
                        <li class="first leaf"><span class="block-title nolink">Subscribe</span></li>
                        <li class="leaf pull-left"><a href="http://feeds.feedburner.com/ProgrammableWeb" id="ftr-rss" target="_blank">Rss</a></li>
                        <li class="leaf pull-left"><a href="http://www.twitter.com/" id="ftr-twt" target="_blank">Twitter</a></li>
                        <li class="leaf pull-left"><a href="https://www.facebook.com/programmableweb" id="ftr-fb" target="_blank">Facebook</a></li>
                        <li class="leaf pull-left"><a href="https://plus.google.com/104429355606978314379/" id="ftr-g" target="_blank">Google+</a></li>
                        <li class="last leaf pull-left" style="width:50px;"><a href="http://www.linkedin.com/company/programmableweb" id="ftr-linkedin" target="_blank">LinkedIn</a></li>
                    </ul>
                </section> 
            </div> -->
            <ul class="pe-social">
              <li><a href="https://www.facebook.com/savvybharath" target="_blank"><i class="pe-so-facebook pe-bg pe-lg"></i></a></li>
              <li><a href="#0"><i class="pe-so-twitter pe-bg pe-lg"></i></a></li>
              <li><a href="#0"><i class="pe-so-linkedin pe-bg pe-lg"></i></a></li>
              <!-- <li><a href="#0"><i class="pe-so-dribbble pe-color pe-2x"></i></a></li> -->
            </ul>
        </div>
        </div>
        
    </div>
   
            <div class="footer-bottom">
            <p>©Copyright 2016 Savvy Bharath | All Rights reserved</p>


            </div>
        
  </div>
  
</footer>

    <!-- jQuery -->
      <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
       <script src="https://code.angularjs.org/1.5.0/angular.min.js"></script>
      <script src="/app/app.js"></script>
      <script type="text/javascript">
      $(function() {
         $( "#date" ).datepicker({
          changeMonth: true,
          changeYear: true,
          yearRange: "-50:+0",
          dateFormat: 'dd-mm-yy'
         });
          $('.phnMask').mask("(+99) 9999999999");

       })
      </script>


</body>
</html>